<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<application android:label="Nederland-Site">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="nl_site.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@layout/file_paths"></meta-data>
		</provider>
	</application>
</manifest>